* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gantari", sans-serif;
  /* color: white; */
}
html {
  scroll-behavior: smooth;
}
h1 {
  font-size: 33px;
}
h2 {
  font-size: 28px;
}
#welcome-section h2{
  font-weight: 200;
}
h3 {
  font-size: 24px;
  font-weight: 600;
}
h4 {
  font-size: 18px;
  font-weight: 600;
}
h1,
h2,
h3,
h4 {
  color: rgb(238, 98, 98);
}
.container {
  max-width: 1400px;
  margin: 0px auto;
}
/* #welcome-section .container{
  margin: 0;
} */
img {
  width: 120px;
  height: 120px;
  border-radius: 12px;
}


header {
  background-color: #765de8;
}

header .logo {
  margin: 0;
  padding: 18px 30px;
  font-size: 25px;
  font-weight: bold;
}

header .container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
header #navbar {
  font-size: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
#navbar a {
  margin: 0px 14px;
  text-decoration: none;
  color: rgb(25, 25, 25);
}
#navbar a:hover {
  color: rgb(238, 98, 98);
}
#navbar a:active {
  color: #e4b266;
}
#welcome-section {
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./img/espacio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
#welcome-section img{
  width: 150px;
  height: 150px;
}

button{
  border: none;
  border-radius: 12px;
}


#projects {
  min-height: 100vh;
  background-color: #729aff;
  text-align: center;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.trabajos{
  display: grid;
  grid-template-columns: repeat(3, 150px);
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  gap: 15px;

}
#projects .indiv {
  background-size: cover;
  background-position: center center;
  border-radius: 12px;
}
#projects button {
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 20px;
  background: #765de8;
}
#projects .container h2{
  margin-bottom: 40px;
}
.indiv{
  display: none;
}
.indiv:nth-child(1){
  display: block;
}
.indiv:nth-child(2){
  display: block;
}
.indiv:nth-child(3){
  display: block;
}
#con-hongo {
  background-image: linear-gradient(
    0deg,
    rgba(91, 91, 91, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("./img/hongo-vector.jpeg");
}
#con-divisa {
  background-image: linear-gradient(
    0deg,
    rgba(91, 91, 91, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("./img/divisa.jpg");
}
#con-sm {
  background-image: linear-gradient(
      0deg,
      rgba(91, 91, 91, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./img/san_martin.jpg");
}
#con-romanos {
  background-image: linear-gradient(
      0deg,
      rgba(91, 91, 91, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./img/fondo_romanos.jpg");
}
#con-boxeo {
  background-image: linear-gradient(
      0deg,
      rgba(91, 91, 91, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./img/boxeo-vector.jpg");
}
#con-des {
  background-image: linear-gradient(
      0deg,
      rgba(91, 91, 91, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./img/calma2.jpg");
}

#conocimientos {
  height: 100vh;
  background-color: #765de8;
  display: flex;
  justify-content: center;
  align-items: center;
}
#conocimientos h2{
  text-align: center;
}
#conocimientos .container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}
#conocimientos .container div{
  background: #8c73f8;
}
#conocimientos .container .skill p{
  display: inline;
}


#contact {
  height: 100vh;
  background-color: #729aff;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}
form {
  background: #7ea2fd;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form .inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact input[placeholder="Nombre completo"] {
  margin-top: 30px;
}
#contact input,
textarea {
  width: 200px;
  background: none;
  border: 2px solid #5c81df;

  margin: 8px 0px;
  padding: 6px 12px;
  border-radius: 10px;
  color: aliceblue;
  outline: 0;
}

#contact input[type="submit"] {
  font-size: 18px;
  margin: 20px 0px 0px 0px;
  color: aliceblue;
}

#contact textarea {
  height: 100px;
}
.contact_box {
  display: flex;
  justify-content: space-around;
}
.contact_box a{
  margin: 0px 18px;
  font-size: 27px;
  background: #5c81df;
  padding: 12px;

}
a {
  border-radius: 12px;
  text-decoration: none;
  color: rgb(238, 98, 98);
}
.contact_box a:hover {
  color: #729aff;
  background: #4d6cbb;
}
.contact_box a:active {
  color: #e4b266;
}

footer {
  background-color: #5c81df;
}
footer p {
  margin: 0;
}
footer .container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
[type="submit"]:hover {
  background-color: rgb(43, 78, 159);
} */

@media (min-width: 720px) {
  header .container {
    flex-flow: row wrap;
    justify-content: space-between;
  }
  header #navbar {
    flex-flow: row wrap;
    padding-bottom: 0;
    padding-right: 30px;
  }
  #navbar a {
    padding: 0px 10px;
  }
}

@media (max-width: 420px) {
  .trabajos{
    grid-template-columns: 1fr;
  }
}