@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,300;0,400;0,500;0,600;1,400&family=Lato:ital,wght@0,300;0,700;1,400&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Gantari', sans-serif;
	/* color: white; */

}

#cont{
	display: flex;
	/*height: 600px;*/
	flex-flow: column wrap;
}
#cont h1, h2, h3, p, i, span{
	color: white;
}
#welcome-section, #projects, #contact{
	height: 1200px;
}
#head{
	background-color: #3878A1;
	width: 240px;
	height: 100%;

	display: flex;
	padding: 70px 0;
	position: fixed;
	flex-direction: column;
	/*justify-content: center;*/
	text-align: center;
	color: white;
	font-size: 18px;
}
#head #info-personal h4{
	font-size: 24px;
	margin: 15px 0;
}
#navbar a{
	color: inherit;
	text-decoration: none;
}
#navbar ul{
	margin: 48px 0;
	list-style: none;
}
#navbar ul li{
	margin: 60px 0;
}
#navbar ul li a:hover{
	color: #5DAFEF;
}

#head img{
	width: 100px;
	border-radius: 50%;
}

#welcome-section{
	width: 100%;
	height: 1000px;
	background: url("F:/Programacion/HTMLCSS2/img/fondocompu.jpg");
	background-size: cover;
	background-position: center center;
	/*hay que ponerle display flex a cada
	hijo de cont para que se pueda usar
	justify-content y align-items*/
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#welcome-section > *{
	margin-left: 240px;
}


#projects .project-tile{
	margin-left: 210px;
	margin-bottom: 150px;

	display: flex;
}
#projects .project-tile > *{
	padding: 0 25px;
}
#projects .project-tile .indiv p{
	margin: 18px 0;
	/* background-color: #5DAFEF; */
}
#projects h2{
	margin-left: 240px;
	margin-top: 60px;
}
#contact > *{
	margin-left: 240px;	
}

.project-tile img{
	width: 300px;
}










#welcome-section h1{
	font-size: 68px;
}
#welcome-section h3{
	font-size: 32px;
}
h2{
	font-size: 40px;
}
#projects{
	display: flex;
	background-color: #964646;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
}
#projects h2{
	width: 100%;
}

#contact{
	background-color: #153C54;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
#contact #text{
	width: 100%;
	height: 80px;
	margin: 60px 0;
	text-align: center;
	margin-left: 240px;
}

#contact .contact_box{
	background-color: #3878A1;
	width: 460px;
	height: 460px;
	display: flex;
	flex-flow: column wrap;
	margin-bottom: 180px;

	justify-content: center;
	align-items: center;
}
#contact form{
	width: 460px;
	height: 460px;
	background-color: #3878A1;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}
#contact form h2{
	font-size: 30px;
	text-align: center;
}
#contact form input, textarea{
	position: relative;
	width: 220px;
	margin-top: 30px;
	font-size: 16px;
	resize: none;
	/* height: 30px; */
}
#contact form input[type="submit"]{
	height: 40px;
}
#contact form textarea{
	height: 120px;
}
#contact .contact_box a{
	text-decoration: none;
	color: inherit;
	font-size: 26px;
	padding: 10px;

}

footer{
	height: 140px;
	background-color: #2F2F2F;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 220px;
	color: white;
}

@media (max-width: 1600px){
	#projects{
		height: 2400px;
	}
	#projects .project-tile{
		flex-flow: column wrap;
	}
	#projects h2{
		margin-bottom: 70px;
	}
	#projects .project-tile .indiv{
		padding-top: 30px;
	}
}